.maintitle {
    display: flexbox;
    font-size: 150px;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 10px rgb(17, 14, 14);
    transition: width 2s, height 2s, background-color 2s, transform 2s;

}

.box:hover {
    color:rgb(8, 206, 25);
    width: 180px;
    height: 180px;
    transform: rotate(180deg);
}